
$distanceFromLine: 100px;
$timepiecewidth: 30%;
$bulletwidth: 40px;
$marginfromtop: 30px;
$shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
$darkblue: #1A237E;
$accentred: #DC4233;
$decofont: 	'Quicksand', sans-serif;
$listdecofont: 	'Cinzel Decorative', serif;
$defaultfont: 'PT Sans', sans-serif;
$secondfont: "Source Sans Pro", sans-serif;
$cardwidth: 300px;

@keyframes anima {
  from {
    opacity: 0;
    transform: scale(0.2) rotate(0deg);
  }
  to {
    opacity: 1;
    transform: scale(1) rotate(360deg);
  }
}

@mixin gradientblue { 
background: #005C97;  /* from the wonderful UI gradients */
background: -webkit-linear-gradient(to bottom, #363795, #005C97);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #363795, #005C97); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@mixin gradientsea {
background: #c0c0aa;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #1cefff, #c0c0aa);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #1cefff, #c0c0aa); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*, html, body{
	margin: 0;
	padding: 0;
	list-style-type: none;
	text-decoration: none;
}

body{
	overflow-x: hidden;
background-color: #0093E9;
background-image: -webkit-linear-gradient(30deg, #0093E9 0%, #80D0C7 100%);
background-image: -moz-linear-gradient(30deg, #0093E9 0%, #80D0C7 100%);
background-image: -o-linear-gradient(30deg, #0093E9 0%, #80D0C7 100%);
background-image: linear-gradient(30deg, #0093E9 0%, #80D0C7 100%);
}

*, body, html{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


//---- CONTAINER, SECTIONS and TITLES, including H1: ALL start here ---//
#container{
	display: flex;
	flex-direction: column;
	flex-wrap: no-wrap;
	justify-content: center;
	align-items: center;
}

section{
	min-height: 100vh;
}


.container-section{
	background-color: blue;
	display: flex;
	flex-wrap: no-wrap;
	flex-direction: column;
	text-align: center;
	width: 100%;
	overflow-x: hidden;
}

section {
  min-height: 100vh; }

.container-section {
  background-color: blue;
  display: flex;
  flex-wrap: no-wrap;
  flex-direction: column;
  text-align: center;
  width: 100%;
  overflow-x: hidden; }

.title-container{
	padding: 50px 0;
}

.title-container h1{
	display: block;
	margin: 0 auto;
	width: 180px;
	color: #004d57;
	font-family: $decofont;
	font-weight: 300;
	font-size: 2em;
	text-transform: uppercase;
 position: relative;
}

.title-container h1:after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 140%;
	background-repeat: repeat-x;
	background-position: left bottom 0px;
}


.title-container h1:before{
	content: "";
	position: absolute;
	top: -20px;
	left: 0;
	width: 100%;
	height: 140%;
	background-repeat: repeat-x;
	background-position: left top 0px;
}

#portfolio h1:before, #portfolio h1:after{
 background-image: url("data:image/svg+xml;charset=utf8,%3C?xml version='1.0' encoding='utf-8'?%3E%3Csvg xmlns='http://www.w3.org/2000/svg' width='157.06' height='12.29'%3E%3Cg id='Layer_1'%3E%3Cpath fill='none' stroke='%23004d57' stroke-width='3' stroke-miterlimit='10' d='M0.23,2.62c5.61,0,5.61,6,11.21,6 c5.61,0,5.61-6,11.21-6s5.61,6,11.21,6c5.61,0,5.61-6,11.21-6c5.61,0,5.61,6,11.21,6c5.61,0,5.61-6,11.21-6s5.61,6,11.21,6 c5.6,0,5.6-6,11.21-6s5.61,6,11.21,6c5.61,0,5.61-6,11.21-6c5.61,0,5.61,6,11.22,6c5.61,0,5.61-6,11.21-6c5.61,0,5.61,6,11.22,6 s5.61-6,11.22-6'/%3E%3C/g%3E%3C/svg%3E");
} 

.transformsvg{
  animation: anima .8s forwards ease-in-out;
}



//animations

/* prepare animations */
.slidefromleft{
   opacity: 0;
  transform: translate3d(-200px, 0, 0);
  will-change: transform;
}

.slidefromright{
  opacity: 0;
  transform: translate3d(200px, 0, 0);
  will-change: transform;
}

.sliding{
   animation: animaslides .8s forwards ease-in;
}

@keyframes animaslides {
  from {
    opacity: 0.2;
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0)
  }
}
